openapi: 3.0.0
info:
  description: Mcity implementation of OCTANE RESTful/Websocket API designed for autonomous
    and connected vehicle test facilities/cities.
  version: 0.0.10
  title: Mcity Control API
  contact:
    name: API support
    email: mcity-engineering@umich.edu
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://mcity.um.city/api
    description: Production server
  - url: https://octane.mvillage.um.city/api
    description: Test server
  - url: http://localhost:5000/api
    description: Dev server
security:
  - APIKeyHeader:
      []
tags:
  - name: Facility
    description: Information about the facility
    externalDocs:
      description: Discover Mcity
      url: https://mcity.umich.edu
  - name: Intersections
    description: Management of intersections
    externalDocs:
      description: Mcity's intersections
      url: https://members.um.city/wiki/track/intersections
  - name: Signals
    description: Management of traffic signals
    externalDocs:
      description: Mcity's traffic signals
      url: https://members.um.city/wiki/track/signals
  - name: Rail
    description: Management of rail crossings.
    externalDocs:
      description: Discover Mcity's rail service
      url: https://members.um.city/wiki/track/rail
  - name: Crosswalks
    description: Management of crosswalks
    externalDocs:
      description: Mcity's crosswalks
      url: https://members.um.city/wiki/track/crosswalks
  - name: Gates
    description: Control of facility gates
    externalDocs:
      description: Mcity's gates
      url: https://members.um.city/wiki/track/gates
  - name: Garages
    description: Control of facility garage bays
    externalDocs:
      description: Mcity's Garages
      url: https://members.um.city/wiki/track
  - name: Lights
    description: Control and enumeration of lighting
    externalDocs:
      description: Mcity's Lights
      url: https://members.um.city/wiki/track/lights
  - name: Safety
    description: Management of safety equipment - arrow boards, message boards, cones
    externalDocs:
      description: Mcity's safety equipment
      url: https://members.um.city/wiki/track/safety
  - name: Maintenance
    description: Maintenance equipment - internal devices to maintain the facility
    externalDocs:
      description: Mcity's maintenance equipment
      url: https://members.um.city/wiki/track/maintenance
  - name: Sensors
    description: Raw sensor feed, enumeration, and control
    externalDocs:
      description: Mcity's sensors
      url: https://members.um.city/wiki/track/sensors
  - name: V2X
    description: V2X RSU and OBU management, near real time messages available via WebSocket
    externalDocs:
      description: V2X Technology
      url: https://members.um.city/wiki/track/v2x
  - name: WebSockets-Channels
    description: Socket.IO websocket supported channels documented as \</namespace>/\<channel>/. Websocket testing is not supported within this UI.
    externalDocs:
      description: Socket.io documentation
      url: https://socket.io/
  - name: WebSockets-Events
    description: Socket.IO websocket events supported by socket-io. Documented as \</namespace>/\<event>/. Websocket testing is not supported within this UI.
    externalDocs:
      description: Socket.io documentation
      url: https://socket.io/
  - name: Management
    description: Functions reserved for facility administration and system processes.
    externalDocs:
      description: Recommended, but optional, endpoints for Managing OCTANE implementations.
      url: https://mcity.umich.edu/
  - name: Scenarios
    description: Management of test case scenarios
    externalDocs:
      description: Save, restore, and run test case scripts to setup a facility in a specific way and trigger on events.
      url: https://mcity.umich.edu
  - name: Sessions
    description: Manage active user sessions, session logging, and session notification.
    externalDocs:
      description: Mcity Scheduling
      url: https://scheduling.umich.edu
paths:
  /garages:
    get:
      tags:
        - Garages
      summary: Return a list of garages
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  garages:
                    type: array
                    description: A list of garages
                    items:
                      $ref: '#/components/schemas/Garage'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /garage/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A garage ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Garages
      summary: Return a garage object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  garage:
                    type: object
                    description: A single garage
                    $ref: '#/components/schemas/Garage'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Garages
      summary: Allows control of a garage.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  description: Allows control to state of a specific garage state
                  type: object
                  properties:
                    open:
                      type: boolean
                      description: Default is false, set to true to open the door.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/garage:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing garage_* events.
      responses:
        200:
          description: Join of Channel
  /octane/garage_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted when the state of a garage is updated.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Garage update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this light fixture.
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/GarageState'
  /octane/garage_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event published when request to change state was made on this garage.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Garage'
  /lights:
    get:
      tags:
        - Lights
      summary: Return a list of light objects.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  lights:
                    type: array
                    description: A list of Lights
                    items:
                      $ref: '#/components/schemas/Light'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Lights
      summary: Sets features on all configured lights that support a feature.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Default is 0. 1 causes the light to turn on.
                    dimLevel:
                      type: integer
                      description: Default is 0. > 0 setting toggles the dim percentage of the light.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestIDs:
                    type: array
                    description: Work request IDs
                    items:
                      type: string

        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /light/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A light ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Lights
      summary: Return a light object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  light:
                    type: object
                    description: A single light
                    $ref: '#/components/schemas/Light'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Lights
      summary: Allows control to a light.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  description: Allows control to state of a specific light.
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Default is 0. 1 causes the light to turn on.
                    dimLevel:
                      type: integer
                      description: Default is 0. > 0 setting toggles the dim percentage of the light.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/light:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing light_* events.
      responses:
        200:
          description: Join of Channel
  /octane/light_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted when the state of a light is updated.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Light update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this light fixture.
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/LightState'
  /octane/light_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event published when request to change state was made on this light.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Light'
  /intersections:
    get:
      tags:
        - Intersections
      summary: Return a list of intersection objects.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  intersections:
                    type: array
                    description: A list of modules supported by octane
                    items:
                      $ref: '#/components/schemas/Intersection'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Intersections
      summary: Sets features on all configured intersections that support a feature.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    reset:
                      type: boolean
                      description: Request a reset of the timing on all traffic
                        controllers. Reset is performed before other items in
                        this request.
                    enabled:
                      type: boolean
                      description: Request the signal heads for this intersection be switched
                        on or off. This does not shut off the controller.
                    flash:
                      type: boolean
                      description: Toggles the intersections between all way flash and a
                        free timed mode.
                    timePaused:
                      type: boolean
                      description: Pause or un-pause ring time of this intersection. Causes
                        all lights to freeze in current state when set True.
                    timeClearControl:
                      type: integer
                      description: Default is 0 - disabled. > 0 setting causes
                        control commands to be automatically cleared this
                        input number of seconds.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestIDs:
                    type: array
                    description: Work request IDs
                    items:
                      type: string

        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /intersection/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: An intersection ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Intersections
      summary: Return an intersection object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  intersection:
                    type: object
                    description: A single intersection
                    $ref: '#/components/schemas/Intersection'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Intersections
      summary: Allows control one to many phases within an intersection.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  description: "All values are bit strings presenting phases 1-8 in
                    descending order. Phase 1 and 6: 00100001"
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Turn signal heads at this intersection on or off.
                    omit:
                      type: string
                      description: Omit specified phases. A bit string representing request
                        for all 8 phases in descending order.
                      example: "00100001"
                    hold:
                      type: string
                      description: Hold specified phases green. A bit string representing
                        request for all 8 phases in descending order.
                      example: "01000010"
                    forceOff:
                      type: string
                      description: Force off specified phases. A bit string representing
                        request for all 8 phases in descending order.
                      example: "00100010"
                    omitPedestrian:
                      type: string
                      description: Omit pedestrian call for specified phases. A bit string
                        representing 8 phases in descending order.
                      example: "00010001"
                    callVehicle:
                      type: string
                      description: A vehicle call will be placed on specified phases. A
                        bit string representing 8 phases in descending order.
                      example: "00010001"
                    callPedestrian:
                      type: string
                      description: A pedestrian call will be placed on specified phases. 8
                        phases in descending order.
                      example: "10001001"
                    reset:
                      type: boolean
                      description: Request a reset of the timing on this traffic
                        controller. Reset is performed before other items in
                        this request.
                    flash:
                      type: boolean
                      description: Toggles the intersection between an all way flash and a
                        free timed mode.
                    timePaused:
                      type: boolean
                      description: Pause or un-pause ring time of this intersection. Causes
                        all lights to freeze in current state.
                    timeClearControl:
                      type: integer
                      description: Default is 0 - disabled. Changing this per traffic
                        controller causes control commands to be cleared after
                        input number of seconds.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /intersection/{id}/phases:
    parameters:
      - in: path
        name: id
        required: true
        description: An intersection ID string.
        schema:
          type: integer
          minimum: 1
    get:
      summary: Return list of phases configured for an intersection
      tags:
        - Intersections
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  phases:
                    type: array
                    description: A list of phases for this intersection
                    items:
                      $ref: '#/components/schemas/Phase'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /intersection/{id}/preempt/{preempt_id}:
    parameters:
      - in: path
        name: id
        required: true
        description: An intersection ID string.
        schema:
          type: string
          minimum: 1
      - in: path
        name: preempt_id
        required: true
        description: An intersection preempt ID.
        schema:
          type: string
          minimum: 1
    patch:
      tags:
        - Intersections
      summary: Allows enabling/disabling preconfigured preempt at an intersection.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Enables or disables a given preempt configuration.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /intersection/{id}/signals:
    parameters:
      - in: path
        name: id
        required: true
        description: An intersection ID string.
        schema:
          type: integer
          minimum: 1
    get:
      summary: Return list of traffic signal configured for an intersection
      tags:
        - Intersections
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  signals:
                    type: array
                    description: A list of signals for this intersection
                    items:
                      $ref: '#/components/schemas/Signal'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /intersection/{id}/crosswalks:
    parameters:
      - in: path
        name: id
        required: true
        description: An intersection ID string.
        schema:
          type: integer
          minimum: 1
    get:
      summary: Return list of crosswalks within an intersection
      tags:
        - Intersections
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  crosswalks:
                    type: array
                    description: A list of crosswalks within this intersection
                    items:
                      $ref: '#/components/schemas/Crosswalk'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /intersection/{id}/stages:
    parameters:
      - in: path
        name: id
        required: true
        description: An intersection ID string.
        schema:
          type: integer
          minimum: 1
    get:
      summary: Return list of suggested control groupings for the intersection (stages)
      tags:
        - Intersections
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                description: A list of phases for this intersection
                items:
                  $ref: '#/components/schemas/Stage'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/intersection:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing intersection_* events.
      responses:
        200:
          description: Join of Channel
  /octane/intersection_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted when the state of an intersection is updated.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Intersection event update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this intersection
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/IntersectionState'
  /octane/intersection_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event published when request to change state was made on this intersection.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Intersection'
  /signals:
    get:
      tags:
        - Signals
      summary: Return a list of signal objects describing all instrumented signals
        within the facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  signals:
                    type: array
                    description: A list of signals
                    items:
                      $ref: '#/components/schemas/Signal'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /signal/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A signal ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Signals
      summary: Return an signal object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  signal:
                    type: object
                    description: A single signal
                    $ref: '#/components/schemas/Signal'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Signals
      summary: Allows control of a single signal set.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  description: The specified object you are sending.
                  type: object
                  properties:
                    reset:
                      type: boolean
                      description: Request a reset of the timing on this traffic
                        controller. Reset is performed before other items in
                        this request.
                    flash:
                      type: boolean
                      description: Toggles the intersection between an all way flash and a
                        free timed mode.
                    left:
                      type: object
                      properties:
                        color:
                          type: string
                          enum:
                            - red
                            - yellow
                            - green
                    right:
                      type: object
                      properties:
                        color:
                          type: string
                          enum:
                            - red
                            - yellow
                            - green
                    straight:
                      type: object
                      properties:
                        color:
                          type: string
                          enum:
                            - red
                            - yellow
                            - green
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/signal:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing intersection_* events.
      responses:
        200:
          description: Join of Channel
  /octane/signal_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted on update of signal state.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Signal event update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this signal
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/SignalState'
  /octane/signal_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted when a request to a signal is being serviced.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Signal'
  /railcrossings:
    get:
      tags:
        - Rail
      summary: Return a list of rail crossing objects describing all instrumented
        crossings within the facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  railcrossings:
                    type: array
                    description: A list of rail crossings
                    items:
                      $ref: '#/components/schemas/Railcrossing'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /railcrossing/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A rail crossing ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Rail
      summary: Return an rail crossing object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  railcrossing:
                    type: object
                    description: A single railcrossing
                    $ref: '#/components/schemas/Railcrossing'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Rail
      summary: Updates an existing rail crossing status, allowing for triggering.
        Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    manualCall:
                      type: boolean
                      description: Activate rail crossing cycle (close, wait, open)
                    manualCallTimeOverride:
                      type: integer
                      description: Specify a length of time the gate should stay in the closed position during a manual call. This setting does not persist.
                    activated:
                      type: boolean
                      description: Activate or deactivate the rail crossing.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/railcrossing:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing railcrossing_* events.
      responses:
        200:
          description: Join of Channel
  /octane/railcrossing_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted on update of railcrossing state.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Rail crossing event update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this rail crossing
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/RailcrossingState'
  /octane/railcrossing_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted when a request to a railcrossing is being serviced.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Railcrossing'
  /crosswalks:
    get:
      tags:
        - Crosswalks
      summary: Return a list of crosswalk objects describing all instrumented crossings
        within the facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  crosswalks:
                    type: array
                    description: A list of crosswalks
                    items:
                      $ref: '#/components/schemas/Crosswalk'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /crosswalk/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A crosswalk ID number.
        schema:
          type: integer
          minimum: 1
    get:
      tags:
        - Crosswalks
      summary: Return a crosswalk object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  crosswalk:
                    type: object
                    description: A single crosswalk
                    $ref: '#/components/schemas/Crosswalk'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Crosswalks
      summary: Updates an existing crosswalk status, allowing for triggering. Returns
        request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    callPedestrian:
                      type: boolean
                      description: Activate crosswalk cycle
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/crosswalk:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing crosswalk_* events.
      responses:
        200:
          description: Join of Channel
  /octane/crosswalk_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted on update of railcrossing state.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Crosswalk event update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this crosswalk
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/CrosswalkState'
  /octane/crosswalk_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted when a request to a railcrossing is being serviced.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Crosswalk'
  /gates:
    get:
      tags:
        - Gates
      summary: Return a list of gate objects describing all instrumented gates
        within the facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  gates:
                    type: array
                    description: A list of Gates
                    items:
                      $ref: '#/components/schemas/Gate'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /gate/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A gate ID number.
        schema:
          type: integer
          minimum: 1
    get:
      tags:
        - Gates
      summary: Return a gate object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  gate:
                    type: object
                    description: A single gate
                    $ref: '#/components/schemas/Gate'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Gates
      summary: Updates an existing gate status, allowing for triggering. Returns
        request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    gateCall:
                      type: boolean
                      description: Activate gate cycle
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/gate:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing gate_* events.
      responses:
        200:
          description: Join of Channel
  /octane/gate_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted on update of gate state.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Gate event update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this gate
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/GateState'
  /octane/gate_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted when a request to a gate is being serviced.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Gate'
  /sensors:
    get:
      tags:
        - Sensors
      summary: Return a list of sensors at this facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  sensors:
                    type: array
                    description: A list of Sensors
                    items:
                      $ref: '#/components/schemas/Sensor'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensors/packages:
    get:
      tags:
        - Sensors
      summary: Return a list of sensors packages and groupings from this facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  packages:
                    type: array
                    description: A list of Sensor packages
                    items:
                      $ref: '#/components/schemas/SensorPackage'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensors/cameras:
    get:
      tags:
        - Sensors
      summary: Return a list of cameras from this facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  cameras:
                    type: array
                    description: A list of Sensor cameras
                    items:
                      $ref: '#/components/schemas/SensorCamera'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensors/lidars:
    get:
      tags:
        - Sensors
      summary: Return a list of LIDAR sensors from this facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  lidars:
                    type: array
                    description: A list of Sensor LIDAR
                    items:
                      $ref: '#/components/schemas/SensorLIDAR'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensors/radars:
    get:
      tags:
        - Sensors
      summary: Return a list of RADAR sensors from this facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  radars:
                    type: array
                    description: A list of Sensor RADAR
                    items:
                      $ref: '#/components/schemas/SensorRADAR'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensor/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A sensor ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Sensors
      summary: Return information about a sensor.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  gate:
                    type: object
                    description: A single sensor
                    $ref: '#/components/schemas/Sensor'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensor/package/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A sensor ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Sensors
      summary: Return information about a grouping of sensors, known as a sensor package, with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  package:
                    type: object
                    description: A single sensor package
                    $ref: '#/components/schemas/SensorPackage'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensor/camera/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A sensor ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Sensors
      summary: Return information about a camera with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  camera:
                    type: object
                    description: A single sensor camera
                    $ref: '#/components/schemas/SensorCamera'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensor/lidar/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A sensor ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Sensors
      summary: Return information about a LIDAR with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  lidar:
                    type: object
                    description: A single sensor LIDAR
                    $ref: '#/components/schemas/SensorLIDAR'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensor/radar/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A sensor ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Sensors
      summary: Return information about a RADAR with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  radar:
                    type: object
                    description: A single sensor RADAR
                    $ref: '#/components/schemas/SensorRADAR'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/sensor:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing sensor_* events.
      responses:
        200:
          description: Join of Channel
  /octane/sensor_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted when the state of a sensor is updated.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Sensor update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this sensor
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/SensorState'
  /octane/sensor_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event published when request to change state was made on this sensor.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/SensorState'
  /safety:
    get:
      tags:
        - Safety
      summary: Return a list of all safety equipment
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  messageboards:
                    type: array
                    description: A list of safety devices supported by octane
                    items:
                      $ref: '#/components/schemas/SafetyEquipment'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /safety/messageboards:
    get:
      tags:
        - Safety
      summary: Return a list of messageboard objects
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  messageboards:
                    type: array
                    description: A list of messageboards supported by octane
                    items:
                      $ref: '#/components/schemas/MessageBoard'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /safety/arrowboards:
    get:
      tags:
        - Safety
      summary: Return a list of arrowboard objects
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  messageboards:
                    type: array
                    description: A list of arrowboards supported by octane
                    items:
                      $ref: '#/components/schemas/ArrowBoard'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /safety/messageboard/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A unique identifier for the messageboard
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Safety
      summary: Return the current location and text on the message board
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageBoard'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Safety
      summary: Update the content on a message board
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  description: Controls the text on, and expected location of, the message board
                  type: object
                  properties:
                    content:
                      type: string
                      description: Content text to display on the message board
                    latitude:
                      type: number
                      description: The current location of the message board
                    longitude:
                      type: number
                      description: The current location of the message board
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /safety/arrowboard/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A unique identifier for the arrowboard
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Safety
      summary: Return the current location and text on the arrow board
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrowBoard'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Safety
      summary: Update the pattern on an arrow board
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  description: Controls the pattern on, and expected location of, an arrow board.
                  type: object
                  properties:
                    content:
                      type: string
                      enum: [FLASHING_RIGHT,SEQUENTIAL_RIGHT,FLASHING_LEFT,SEQUENTIAL_LEFT,FLASHING_DOUBLE,
                             SEQUENTIAL_DOUBLE,FOUR_CORNER,BAR,OFF]
                    latitude:
                      type: number
                      description: The current location of the message board
                    longitude:
                      type: number
                      description: The current location of the message board
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /maintenance:
    get:
      tags:
        - Maintenance
      summary: Return a list of all maintenance equipment
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  maintenance:
                    type: array
                    description: A list of maintenance devices supported by octane
                    items:
                      $ref: '#/components/schemas/MaintenanceEquipment'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /maintenance/lawnmowers:
    get:
      tags:
        - Maintenance
      summary: Return a list of lawnmower objects
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  lawnmowers:
                    type: array
                    description: A list of lawnmowers supported by octane
                    items:
                      $ref: '#/components/schemas/LawnMower'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /maintenance/lawnmower/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A unique identifier for the lawnmower
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Maintenance
      summary: Return the current location and state of the lawnmower
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LawnMower'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Maintenance
      summary: Change the state of a lawnmower
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  description: Controls the running state of the lawnmower
                  type: object
                  properties:
                    mowerCall:
                      type: string
                      description: "Change the mowing state of the mower (start or stop)"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error

  /facilities:
    get:
      tags:
        - Facility
      summary: Return information about facilities managed by this OCTANE instance.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  facilities:
                    type: array
                    description: Facilities configured in this octane instance that the user has access to.
                    items:
                      $ref: '#/components/schemas/Facility'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /facility:
    get:
      tags:
        - Facility
      summary: Return information about the primary reservation facility and current reservation.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Facility'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /facility/chat:
    post:
      tags:
        - Facility
      summary: Post a message to the facility chat through ReST.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: A message that a user wants to send via facility chat.
              properties:
                message:
                  type: string
                  description: The message to be sent to other users of the system.
                user:
                  type: string
                  description: Username to send with message.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The message sent.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /facility/notification:
    post:
      tags:
        - Facility
      summary: "TOKEN TYPE: ADMIN. Post a message to the facility notification system."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: A message that a user wants to send via facility chat.
              properties:
                message:
                  type: string
                  description: The message to be sent to other users of the system.
                type:
                  type: string
                  description: A type describing the message
                  enum: [NOTIFY, WEATHER, SCHEDULE]
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The notification sent.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/facility:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing facility_* events.
      responses:
        200:
          description: Join of Channel
  /octane/facility_message:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted for scheduling notifications, staff request, or emergency.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityMessage'
  /octane/facility_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted for facility wide requests.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Facility'
  /octane/facility_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted for facility wide status updates.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Facility'
  /v2x:
    get:
      tags:
        - V2X
      summary: Return a list of V2X devices known to OCTANE.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  v2xs:
                    type: array
                    description: A list of V2X devices.
                    items:
                      $ref: '#/components/schemas/V2X'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /v2x/rsus:
    get:
      tags:
        - V2X
      summary: Return a list of V2X RSUs known to OCTANE.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  rsus:
                    type: array
                    description: A list of V2X RSU devices.
                    items:
                      $ref: '#/components/schemas/V2X'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - V2X
      summary: Updates all existing and capable V2x RSUs. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the radio on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /v2x/obus:
    get:
      tags:
        - V2X
      summary: Return a list of V2X OBUs known to OCTANE.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  obus:
                    type: array
                    description: A list of V2X OBU devices.
                    items:
                      $ref: '#/components/schemas/V2X'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - V2X
      summary: Updates an existing and capable V2X OBUs. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the radio on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /v2x/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A V2X ID number.
        schema:
          type: integer
          minimum: 1
    get:
      tags:
        - V2X
      summary: Return a v2x object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  v2x:
                    type: object
                    description: A single V2X device
                    $ref: '#/components/schemas/V2X'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - V2X
      summary: Updates an existing v2x status, allowing for triggering. Returns
        request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the radio on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /v2x/rsu/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A V2X ID number.
        schema:
          type: integer
          minimum: 1
    get:
      tags:
        - V2X
      summary: Return a v2x object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  rsu:
                    type: object
                    description: A single V2X RSU device
                    $ref: '#/components/schemas/V2X'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - V2X
      summary: Updates an existing v2x status, allowing for triggering. Returns
        request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the radio on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /v2x/rsu/{id}/bsm:
    parameters:
      - in: path
        name: id
        required: true
        description: A V2X ID number.
        schema:
          type: integer
          minimum: 1
    post:
      tags:
        - V2X
      summary: For RSUs with support, pack posted data into active protocol format and broadcasts the BSM.  Request body type allows for sending a pre-packed message to be sent as a direct payload or for a JSON format that will be encoded to the appropriate message format and broadcast serverside.
        request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: A V2X BSM to be sent.
              $ref: '#/components/schemas/V2XBSM'
          application/octet-stream:
            schema:
              type: object
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /v2x/rsu/{id}/bsms:
    parameters:
      - in: path
        name: id
        required: true
        description: A V2X ID number.
        schema:
          type: integer
          minimum: 1
    post:
      tags:
        - V2X
      summary: For RSUs with support, pack posted data into active protocol format and broadcasts each row through the BSM.
        request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/V2XBSM'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestIDs:
                    type: array
                    description: Work request IDs
                    items:
                      type: string
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /v2x/rsu/{id}/psm:
    parameters:
      - in: path
        name: id
        required: true
        description: A V2X RSU ID number.
        schema:
          type: integer
          minimum: 1
    post:
      tags:
        - V2X
      summary: For RSUs with support, pack posted data into active protocol format and broadcasts the PSM. Request body type allows for sending a pre-packed message to be sent as a direct payload or for a JSON format that will be encoded to the appropriate message format and broadcast server side. request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2XPSM'
          application/octet-stream:
            schema:
              type: object
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /v2x/obu/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A V2X ID number.
        schema:
          type: integer
          minimum: 1
    get:
      tags:
        - V2X
      summary: Return a v2x object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  obu:
                    type: object
                    description: A single V2X OBU device
                    $ref: '#/components/schemas/V2X'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - V2X
      summary: Updates an existing v2x status, allowing for triggering. Returns
        request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: is the radio on or off?
                    longitude:
                      type: number
                      description: The longitude of the V2X device.
                    latitude:
                      type: number
                      description: The latitude of the V2X device.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/v2x:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing requests and updates from V2X devices. Provides notifications when new devices are heard from.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_rsu_raw:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing raw v2x_* events from all known RSUs.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_obu_raw:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing raw v2x_* events from all known OBUs.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_rsu_parsed:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing raw v2x_* events from all known RSUs.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_obu_parsed:
    get:
      tags:
        - WebSockets-Channels
      summary: COMING SOON - Channel used for publishing raw v2x_* events from all known OBUs.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_rsu_[id]_raw:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing all raw v2x_* events from a specific RSU.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_obu_[id]_raw:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing all raw v2x_* events from a specific OBU.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_rsu_[id]_parsed:
    get:
      tags:
        - WebSockets-Channels
      summary: JSON formatted version of events from a specific RSU.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_obu_[id]_parsed:
    get:
      tags:
        - WebSockets-Channels
      summary: formatted version of events from a specific OBU.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted on update of V2X device state.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: V2X Device update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this V2X Device
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/V2X'

  /octane/v2x_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted on request to a V2X device.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/V2X'
  /octane/v2x_new:
    get:
      tags:
        - WebSockets-Events
      summary: COMING SOON - Event emitted when a new V2X device is heard from and added to the V2X device listing.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/V2X'
  /octane/v2x_raw:
    get:
      tags:
        - WebSockets-Events
[...]
