openapi: 3.0.0
info:
  description: Mcity implementation of OCTANE RESTful/Websocket API designed for autonomous
    and connected vehicle test facilities/cities.
  version: 0.0.8
  title: Mcity Control API
  contact:
    name: API support
    email: mcity-engineering@umich.edu
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://mcity.um.city/api
    description: Production server
  - url: https://mvillage.um.city/api
    description: Test server
  - url: http://localhost:5000/api
    description: Dev server
security:
  - APIKeyHeader:
      []
tags:
  - name: Facility
    description: Information about the facility
    externalDocs:
      description: Discover Mcity
      url: https://mcity.umich.edu
  - name: Intersections
    description: Management of intersections
    externalDocs:
      description: Discover Mcity's intersections
      url: https://members.um.city/wiki/track/intersections
  - name: Signals
    description: Management of traffic signals
    externalDocs:
      description: Discover Mcity's traffic signals
      url: https://members.um.city/wiki/track/signals
  - name: Rail
    description: Management of rail crossings.
    externalDocs:
      description: Discover Mcity's rail service
      url: https://members.um.city/wiki/track/rail
  - name: Crosswalks
    description: Management of crosswalks
    externalDocs:
      description: Discover Mcity's crosswalks
      url: https://members.um.city/wiki/track/crosswalks
  - name: Gates
    description: Control of facility gates
    externalDocs:
      description: Discover Mcity's gates
      url: https://members.um.city/wiki/track/gates
  - name: Lights
    description: Control and enumeration of lighting 
    externalDocs:
      description: Discover Mcity's Lights
      url: https://members.um.city/wiki/track/lights
  - name: Sensors
    description: Raw sensor feed, enumeration, and control
    externalDocs:
      description: Discover Mcity's sensors
      url: https://members.um.city/wiki/track/sensors
  - name: WebSockets-Channels
    description: EXPERIMENTAL - Socket.IO websocket supported channels documented as \</namespace>/\<channel>/. Websocket testing is not supported within this UI.
    externalDocs:
      description: Socket.io documentation
      url: https://socket.io/
  - name: WebSockets-Events
    description: EXPERIMENTAL - Socket.IO websocket events supported by socket-io. Documented as \</namespace>/\<event>/. Websocket testing is not supported within this UI.
    externalDocs:
      description: Socket.io documentation
      url: https://socket.io/
  - name: Management
    description: Functions reserved for facility administration and system processes.
    externalDocs:
      description: The Mcity API system process.
      url: https://mcity.umich.edu/
  - name: V2X
    description: EXPERIMENTAL - V2X RSU and OBU management, near real time messages available via WebSocket
    externalDocs:
      description: Discover Mcity's V2X Technology
      url: https://members.um.city/wiki/track/v2x
  - name: Scenarios
    description: Management of test case scenarios
    externalDocs:
      description: (TODO:) Link to info about scenarios
      url: https://mcity.umich.edu
paths:
  /lights:
    get:
      tags:
        - Lights
      summary: Return a list of light objects.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  lights:
                    type: array
                    description: A list of modules supported by octane
                    items:
                      $ref: '#/components/schemas/Light'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Lights
      summary: Sets features on all configured lights that support a feature.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Default is 0. 1 causes the light to turn on.
                    dimLevel:
                      type: integer
                      description: Default is 0. > 0 setting toggles the dim percentage of the light.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestIDs:
                    type: array
                    description: Work request IDs
                    items:
                      type: string

        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /light/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A light ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Lights
      summary: Return a light object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  light:
                    type: object
                    description: A single light
                    $ref: '#/components/schemas/Light'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Lights
      summary: Allows control to a light.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  description: Allows control to state of a specific light.
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Default is 0. 1 causes the light to turn on.
                    dimLevel:
                      type: integer
                      description: Default is 0. > 0 setting toggles the dim percentage of the light.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/light:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing light_* events.
      responses:
        200:
          description: Join of Channel
  /octane/light_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted when the state of a light is updated.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Light update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this light fixture.
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/LightState'
  /octane/light_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event published when request to change state was made on this light.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Light'
  /intersections:
    get:
      tags:
        - Intersections
      summary: Return a list of intersection objects.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  intersections:
                    type: array
                    description: A list of modules supported by octane
                    items:
                      $ref: '#/components/schemas/Intersection'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Intersections
      summary: Sets features on all configured intersections that support a feature.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    reset:
                      type: boolean
                      description: Request a reset of the timing on all traffic
                        controllers. Reset is performed before other items in
                        this request.
                    enabled:
                      type: boolean
                      description: Request the signal heads for this intersection be switched 
                        on or off. This does not shut off the controller.
                    flash:
                      type: boolean
                      description: Toggles the intersections between all way flash and a
                        free timed mode.
                    timePaused:
                      type: boolean
                      description: Pause or un-pause ring time of this intersection. Causes
                        all lights to freeze in current state when set True.
                    timeClearControl:
                      type: integer
                      description: Default is 0 - disabled. > 0 setting causes 
                        control commands to be automatically cleared this
                        input number of seconds.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestIDs:
                    type: array
                    description: Work request IDs
                    items:
                      type: string
                        
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /intersection/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: An intersection ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Intersections
      summary: Return an intersection object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  intersection:
                    type: object
                    description: A single intersection
                    $ref: '#/components/schemas/Intersection'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Intersections
      summary: Allows control one to many phases within an intersection.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  description: "All values are bit strings presenting phases 1-8 in
                    descending order. Phase 1 and 6: 00100001"
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Turn signal heads at this intersection on or off.
                    omit:
                      type: string
                      description: Omit specified phases. A bit string representing request
                        for all 8 phases in descending order.
                      example: "00100001"
                    hold:
                      type: string
                      description: Hold specified phases green. A bit string representing
                        request for all 8 phases in descending order.
                      example: "01000010"
                    forceOff:
                      type: string
                      description: Force off specified phases. A bit string representing
                        request for all 8 phases in descending order.
                      example: "00100010"
                    omitPedestrian:
                      type: string
                      description: Omit pedestrian call for specified phases. A bit string
                        representing 8 phases in descending order.
                      example: "00010001"
                    callVehicle:
                      type: string
                      description: A vehicle call will be placed on specified phases. A
                        bit string representing 8 phases in descending order.
                      example: "00010001"
                    callPedestrian:
                      type: string
                      description: A pedestrian call will be placed on specified phases. 8
                        phases in descending order.
                      example: "10001001"
                    reset:
                      type: boolean
                      description: Request a reset of the timing on this traffic
                        controller. Reset is performed before other items in
                        this request.
                    flash:
                      type: boolean
                      description: Toggles the intersection between an all way flash and a
                        free timed mode.
                    timePaused:
                      type: boolean
                      description: Pause or un-pause ring time of this intersection. Causes
                        all lights to freeze in current state.
                    timeClearControl:
                      type: integer
                      description: Default is 0 - disabled. Changing this per traffic
                        controller causes control commands to be cleared after
                        input number of seconds.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /intersection/{id}/phases:
    parameters:
      - in: path
        name: id
        required: true
        description: An intersection ID string.
        schema:
          type: integer
          minimum: 1
    get:
      summary: Return list of phases configured for an intersection
      tags:
        - Intersections
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                description: A list of phases for this intersection
                items:
                  $ref: '#/components/schemas/Phase'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /intersection/{id}/signals:
    parameters:
      - in: path
        name: id
        required: true
        description: An intersection ID string.
        schema:
          type: integer
          minimum: 1
    get:
      summary: Return list of traffic signal configured for an intersection
      tags:
        - Intersections
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  signals:
                    type: array
                    description: A list of signals for this intersection
                    items:
                      $ref: '#/components/schemas/Signal'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /intersection/{id}/crosswalks:
    parameters:
      - in: path
        name: id
        required: true
        description: An intersection ID string.
        schema:
          type: integer
          minimum: 1
    get:
      summary: Return list of crosswalks within an intersection
      tags:
        - Intersections
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                description: A list of crosswalks within this intersection
                items:
                  $ref: '#/components/schemas/Crosswalk'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /intersection/{id}/stages:
    parameters:
      - in: path
        name: id
        required: true
        description: An intersection ID string.
        schema:
          type: integer
          minimum: 1
    get:
      summary: Return list of suggested control groupings for the intersection (stages)
      tags:
        - Intersections
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                description: A list of phases for this intersection
                items:
                  $ref: '#/components/schemas/Stage'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/intersection:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing intersection_* events.
      responses:
        200:
          description: Join of Channel
  /octane/intersection_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted when the state of an intersection is updated.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Intersection event update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this intersection
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/IntersectionState'
  /octane/intersection_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event published when request to change state was made on this intersection.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Intersection'
  /signals:
    get:
      tags:
        - Signals
      summary: Return a list of signal objects describing all instrumented signals
        within the facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  signals:
                    type: array
                    description: A list of signals
                    items:
                      $ref: '#/components/schemas/Signal'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /signal/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A signal ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Signals
      summary: Return an signal object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  signal:
                    type: object
                    description: A single signal
                    $ref: '#/components/schemas/Signal'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Signals
      summary: Allows control of a single signal set.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  description: The specified object you are sending.
                  type: object
                  properties:
                    reset:
                      type: boolean
                      description: Request a reset of the timing on this traffic
                        controller. Reset is performed before other items in
                        this request.
                    flash:
                      type: boolean
                      description: Toggles the intersection between an all way flash and a
                        free timed mode.
                    left:
                      type: object
                      properties:
                        color:
                          type: string
                          enum:
                            - red
                            - yellow
                            - green
                    right:
                      type: object
                      properties:
                        color:
                          type: string
                          enum:
                            - red
                            - yellow
                            - green
                    straight:
                      type: object
                      properties:
                        color:
                          type: string
                          enum:
                            - red
                            - yellow
                            - green
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/signal:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing intersection_* events.
      responses:
        200:
          description: Join of Channel
  /octane/signal_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted on update of signal state.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Signal event update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this signal
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/SignalState'
  /octane/signal_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted when a request to a signal is being serviced.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Signal'
  /railcrossings:
    get:
      tags:
        - Rail
      summary: Return a list of rail crossing objects describing all instrumented
        crossings within the facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  railcrossings:
                    type: array
                    description: A list of rail crossings
                    items:
                      $ref: '#/components/schemas/Railcrossing'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /railcrossing/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A rail crossing ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Rail
      summary: Return an rail crossing object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  railcrossing:
                    type: object
                    description: A single railcrossing
                    $ref: '#/components/schemas/Railcrossing'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Rail
      summary: Updates an existing rail crossing status, allowing for triggering.
        Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    manualCall:
                      type: boolean
                      description: Activate rail crossing cycle (close, wait, open)
                    manualCallTimeOverride:
                      type: integer
                      description: Specify a length of time the gate should stay in the closed position during a manual call. This setting does not persist.
                    activated:
                      type: boolean
                      description: Activate or deactivate the rail crossing.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/railcrossing:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing railcrossing_* events.
      responses:
        200:
          description: Join of Channel
  /octane/railcrossing_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted on update of railcrossing state.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Rail crossing event update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this rail crossing
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/RailcrossingState'
  /octane/railcrossing_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted when a request to a railcrossing is being serviced.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Railcrossing'
  /crosswalks:
    get:
      tags:
        - Crosswalks
      summary: Return a list of crosswalk objects describing all instrumented crossings
        within the facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  crosswalks:
                    type: array
                    description: A list of crosswalks
                    items:
                      $ref: '#/components/schemas/Crosswalk'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /crosswalk/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A crosswalk ID number.
        schema:
          type: integer
          minimum: 1
    get:
      tags:
        - Crosswalks
      summary: Return a crosswalk object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  crosswalk:
                    type: object
                    description: A single crosswalk
                    $ref: '#/components/schemas/Crosswalk'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Crosswalks
      summary: Updates an existing crosswalk status, allowing for triggering. Returns
        request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    pedestrianCall:
                      type: boolean
                      description: Activate crosswalk cycle
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/crosswalk:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing crosswalk_* events.
      responses:
        200:
          description: Join of Channel
  /octane/crosswalk_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted on update of railcrossing state.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Crosswalk event update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this crosswalk
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/CrosswalkState'
  /octane/crosswalk_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted when a request to a railcrossing is being serviced.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Crosswalk'
  /gates:
    get:
      tags:
        - Gates
      summary: Return a list of gate objects describing all instrumented gates
        within the facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  gates:
                    type: array
                    description: A list of Gates
                    items:
                      $ref: '#/components/schemas/Gate'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /gate/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A gate ID number.
        schema:
          type: integer
          minimum: 1
    get:
      tags:
        - Gates
      summary: Return a gate object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  gate:
                    type: object
                    description: A single gate
                    $ref: '#/components/schemas/Gate'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Gates
      summary: Updates an existing gate status, allowing for triggering. Returns
        request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    gateCall:
                      type: boolean
                      description: Activate gate cycle
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/gate:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing gate_* events.
      responses:
        200:
          description: Join of Channel
  /octane/gate_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted on update of gate state.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Gate event update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this gate
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/GateState'
  /octane/gate_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted when a request to a gate is being serviced.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Gate'
  /sensors:
    get:
      tags:
        - Sensors
      summary: Return a list of sensors at this facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  sensors:
                    type: array
                    description: A list of Sensors
                    items:
                      $ref: '#/components/schemas/Sensor'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensors/packages:
    get:
      tags:
        - Sensors
      summary: Return a list of sensors packages and groupings from this facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  packages:
                    type: array
                    description: A list of Sensor packages
                    items:
                      $ref: '#/components/schemas/SensorPackage'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensors/cameras:
    get:
      tags:
        - Sensors
      summary: Return a list of cameras from this facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  cameras:
                    type: array
                    description: A list of Sensor cameras
                    items:
                      $ref: '#/components/schemas/SensorCamera'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensors/lidars:
    get:
      tags:
        - Sensors
      summary: Return a list of LIDAR sensors from this facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  lidars:
                    type: array
                    description: A list of Sensor LIDAR
                    items:
                      $ref: '#/components/schemas/SensorLIDAR'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensors/radars:
    get:
      tags:
        - Sensors
      summary: Return a list of RADAR sensors from this facility.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  radars:
                    type: array
                    description: A list of Sensor RADAR
                    items:
                      $ref: '#/components/schemas/SensorRADAR'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensor/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A sensor ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Sensors
      summary: Return information about a sensor.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  gate:
                    type: object
                    description: A single sensor
                    $ref: '#/components/schemas/Sensor'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensor/package/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A sensor ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Sensors
      summary: Return information about a grouping of sensors, known as a sensor package, with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  package:
                    type: object
                    description: A single sensor package
                    $ref: '#/components/schemas/SensorPackage'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensor/camera/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A sensor ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Sensors
      summary: Return information about a camera with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  camera:
                    type: object
                    description: A single sensor camera
                    $ref: '#/components/schemas/SensorCamera'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensor/lidar/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A sensor ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Sensors
      summary: Return information about a LIDAR with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  lidar:
                    type: object
                    description: A single sensor LIDAR
                    $ref: '#/components/schemas/SensorLIDAR'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /sensor/radar/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A sensor ID string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Sensors
      summary: Return information about a RADAR with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  radar:
                    type: object
                    description: A single sensor RADAR
                    $ref: '#/components/schemas/SensorRADAR'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Sensors
      summary: Updates a sensor state. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the sensor on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/sensor:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing sensor_* events.
      responses:
        200:
          description: Join of Channel
  /octane/sensor_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted when the state of a sensor is updated.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Sensor update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this sensor
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/SensorState'
  /octane/sensor_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event published when request to change state was made on this sensor.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/SensorState'
  /facility:
    get:
      tags:
        - Facility
      summary: Return information about the facility and current reservation.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  facility:
                    type: array
                    description: A list of modules supported by octane
                    items:
                      $ref: '#/components/schemas/Facility'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/facility:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing facility_* events.
      responses:
        200:
          description: Join of Channel
  /octane/facility_message:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted for scheduling notifications, staff request, or emergency.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Facility'
  /octane/facility_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted for facility wide requests.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Facility' 
  /octane/facility_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted for facility wide status updates.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Facility'
  /v2x:
    get:
      tags:
        - V2X
      summary: Return a list of V2X devices known to OCTANE.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  v2xs:
                    type: array
                    description: A list of V2X devices.
                    items:
                      $ref: '#/components/schemas/V2X'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /v2x/rsus:
    get:
      tags:
        - V2X
      summary: Return a list of V2X RSUs known to OCTANE.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  rsus:
                    type: array
                    description: A list of V2X RSU devices.
                    items:
                      $ref: '#/components/schemas/V2X'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - V2X
      summary: Updates all existing and capable V2x RSUs. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the radio on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /v2x/obus:
    get:
      tags:
        - V2X
      summary: Return a list of V2X OBUs known to OCTANE.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  obus:
                    type: array
                    description: A list of V2X OBU devices.
                    items:
                      $ref: '#/components/schemas/V2X'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - V2X
      summary: Updates an existing and capable V2X OBUs. Returns request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the radio on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /v2x/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A V2X ID number.
        schema:
          type: integer
          minimum: 1
    get:
      tags:
        - V2X
      summary: Return a v2x object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  v2x:
                    type: object
                    description: A single V2X device
                    $ref: '#/components/schemas/V2X'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - V2X
      summary: Updates an existing v2x status, allowing for triggering. Returns
        request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the radio on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /v2x/rsu/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A V2X ID number.
        schema:
          type: integer
          minimum: 1
    get:
      tags:
        - V2X
      summary: Return a v2x object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  rsu:
                    type: object
                    description: A single V2X RSU device
                    $ref: '#/components/schemas/V2X'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - V2X
      summary: Updates an existing v2x status, allowing for triggering. Returns
        request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Is the radio on or off?
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /v2x/rsu/{id}/bsm:
    parameters:
      - in: path
        name: id
        required: true
        description: A V2X ID number.
        schema:
          type: integer
          minimum: 1
    post:
      tags:
        - V2X
      summary: For RSUs with support, pack posted data into active protocol format and broadcasts the BSM.
        request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: A V2X BSM to be sent.
              $ref: '#/components/schemas/V2XBSM'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /v2x/obu/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A V2X ID number.
        schema:
          type: integer
          minimum: 1
    get:
      tags:
        - V2X
      summary: Return a v2x object with the specified ID.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  obu:
                    type: object
                    description: A single V2X OBU device
                    $ref: '#/components/schemas/V2X'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - V2X
      summary: Updates an existing v2x status, allowing for triggering. Returns
        request ID on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: is the radio on or off?
                    longitude:
                      type: number
                      description: The longitude of the V2X device.
                    latitude:
                      type: number
                      description: The latitude of the V2X device.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/v2x:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing requests and updates from V2X devices. Provides notifications when new devices are heard from.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_rsu_raw:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing raw v2x_* events from all known RSUs.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_obu_raw:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing raw v2x_* events from all known OBUs.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_rsu_parsed:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing raw v2x_* events from all known RSUs.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_obu_parsed:
    get:
      tags:
        - WebSockets-Channels
      summary: COMING SOON - Channel used for publishing raw v2x_* events from all known OBUs.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_rsu_[id]_raw:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing all raw v2x_* events from a specific RSU.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_obu_[id]_raw:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel used for publishing all raw v2x_* events from a specific OBU.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_rsu_[id]_parsed:
    get:
      tags:
        - WebSockets-Channels
      summary: JSON formatted version of events from a specific RSU.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_obu_[id]_parsed:
    get:
      tags:
        - WebSockets-Channels
      summary: formatted version of events from a specific OBU.
      responses:
        200:
          description: Join of Channel
  /octane/v2x_update:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted on update of V2X device state.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: V2X Device update
                properties:
                  id:
                    type: string
                    description: An ID number identifying this V2X Device
                  serviced:
                    type: string
                    format: date-time
                    description: UTC date time representing when the message was published.
                    example: "2019-03-16T16:47:04.123-4:00"
                  state:
                    $ref: '#/components/schemas/V2X'
              
  /octane/v2x_request:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted on request to a V2X device.
      responses:
        200:
          description: Success
          content:
            "*/*":
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/V2X'
  /octane/v2x_new:
    get:
      tags:
        - WebSockets-Events
      summary: COMING SOON - Event emitted when a new V2X device is heard from and added to the V2X device listing.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/V2X'
  /octane/v2x_raw:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted on message between V2X devices.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2XRaw"
  /octane/v2x_SPaT:
    get:
      tags:
        - WebSockets-Events
      summary: On receipt of a V2X SPaT message, this event is emitted with a parsed version of the message.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/V2XSPaT'
  /octane/v2x_BSM:
    get:
      tags:
        - WebSockets-Events
      summary: On receipt of a V2X BSM message, this event is emitted with a parsed version of the message.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2XBSM'
  /management/modules:
    get:
      tags:
        - Management
      summary: Return a list of Modules supported by this instance of Octane
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  modules:
                    type: array
                    description: A list of modules supported by octane
                    items:
                      type: string
                      example: [Crosswalk, Intersections, V2X]
        400:
          $ref: "#/components/responses/PoorFormError"
        401:
          $ref: "#/components/responses/UnauthorizedError"
        500:
          description: Internal server error
  /management/favorites:
    get:
      tags:
        - Management
      summary: "Retrieve list of all favorites."
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  favorites:
                    type: array
                    description: A list of the users Favorite items from each module.
                    items:
                      $ref: '#/components/schemas/Favorite'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /management/favorite:
    post:
      tags:
        - Management
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                moduleName:
                  type: string
                favoriteID:
                  type: integer
      summary: "Add a favorite to database."
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Favorite'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /management/favorite/{moduleName}/{favoriteId}:
    delete:
      parameters: 
        - name: moduleName
          in: path
          required: true
          description: Type of infrastructure
          schema:
            type: string
            description: Type of infrastructure
        - name: favoriteId
          in: path
          required: true
          description: Type of infrastructure id
          schema:
            type: integer
            description: Type of infrastructure id
      tags:
      - Management
      summary: "Delete a favorite from the database."
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: A message regarding the status of the deletion.
                properties:
                  message:
                    type: string
                    description: The delete request was successful.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /management/polling/intersections:
    patch:
      tags:
        - Management
      summary: "TOKEN TYPE: ADMIN. Start/Stop Intersection Traffic signal polling."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Starts or terminates all polling processes.
        description: Modifications to the process that controls intersection updates
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /management/polling/power:
            patch:
              tags:
                - Management
              summary: "TOKEN TYPE: ADMIN. Start/Stop polling of intersection power state."
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        state:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Starts or terminates all power polling processes.
                description: Modifications to the process that controls power updates
              responses:
                200:
                  description: Success
                  content:
                    application/json:
                      schema:
                        type: object
                        properties:
                          requestID:
                            type: string
                            description: Work request ID.
                400:
                  $ref: '#/components/responses/PoorFormError'
                401:
                  $ref: '#/components/responses/UnauthorizedError'
                404:
                  $ref: '#/components/responses/NotFoundError'
                500:
                  description: Internal server error      
  /management/facility/reset:
    post:
      tags:
        - Management
      summary: "TOKEN TYPE: USER. Reset controllable items within the facility."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  properties:
                    confirm:
                      type: boolean
                      description: Confirms the reset of the facility.
        description: Modify the state of all devices in the facility
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /management/device/callback:
    post:
      tags:
        - Management
      summary: "TOKEN TYPE: DEVICE. Handles callbacks from physical devices connected
        to API."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: string
                  description: Data from event
                event:
                  type: string
                  description: Remote Event name
                coreid:
                  type: string
                  description: Device ID of calling device
                published_at:
                  type: string
                  description: The time this event was published.
        description: External devices use this to modify state of API managed device state.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestID:
                    type: string
                    description: Work request ID.
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /management/token:
    post:
      tags:
        - Management
      summary: "TOKEN TYPE: TOKEN. Creates a new USER type token with API access
        between a specific date and time."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Email address of token owner.
                desc:
                  type: string
                  description: Event Identifier
                dateValid:
                  type: string
                  format: date-time
                  description: UTC valid date time
                  example: "2019-03-16T16:47:04.123-4:00"
                dateExpire:
                  type: string
                  format: date-time
                  description: UTC expiration date time
                  example: "2019-03-16T16:47:04.123-4:00"
        description: Request for a new token to be created. Dates are in format of 2019-03-16T16:47:04.123-4:00
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Newly generated access token
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /octane/user:
    get:
      tags:
        - WebSockets-Channels
      summary: Channel for IPC, Timing, and direct messages. Publishes user_* events.
      responses:
        200:
          description: Join of Channel
  /octane/user_message:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted to other users when a user emits in the user channel.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: A message a user sent.
                properties:
                  message:
                    type: string
                    description: The message to be sent to other users.
    post:
      tags:
        - WebSockets-Events
      summary: Event to be submitted for broadcast to the user channel only.
      responses:
        200:
          description: Success
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: A message a user wants to broadcast
              properties:
                message:
                  type: string
                  description: The message to be sent to other users of the system.
  /octane/join:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted to other users when a user joins a channel successfully.
      responses:
        200:
          description: Success
    post:
      tags:
        - WebSockets-Events
      summary: Event to be submitted for user to join a specified channel.
      responses:
        200:
          description: Success
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The channel a user wishes to join.
              properties:
                channel:
                  type: string
                  description: Channel to join.
  /octane/leave:
    get:
      tags:
        - WebSockets-Events
      summary: Event emitted to other users when a user leaves a channel successfully.
      responses:
        200:
          description: Success
    post:
      tags:
        - WebSockets-Events
      summary: Event to be submitted for user to leave a specified channel.
      responses:
        200:
          description: Success
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The channel a user wishes to leave
              properties:
                channel:
                  type: string
                  description: Channel to leave.
  /octane/channels:
    get:
      tags:
        - WebSockets-Events
      summary: Emitted in response to request for OCTANE channels.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Channel name
                    subscribed:
                      type: boolean
                      description: User is currently subscribed to this channel.
    post:
      tags:
        - WebSockets-Events
      summary: Event to be submitted to request current users channels and all valid channels.
      responses:
        200:
          description: Success
  /scenarios:
    get:
      tags:
        - Scenarios
      summary: Return a list of scenario objects.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  scenarios:
                    type: array
                    description: A list of modules supported by octane
                    items:
                      $ref: '#/components/schemas/Scenario'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        500:
          description: Internal server error
  /scenario/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: A scenario id string.
        schema:
          type: string
          minimum: 1
    get:
      tags:
        - Scenarios
      summary: Return a scenario object with the specified id
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  scenario:
                    type: object
                    $ref: '#/components/schemas/Scenario'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    patch:
      tags:
        - Scenarios
      summary: Update an existing scenario
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scenario:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the scenario
                      workspace:
                        type: string
                        description: The XML structure containing the code to be run in the scenario
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  scenario:
                    type: object
                    $ref: '#/components/schemas/Scenario'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
    delete:
      tags:
      - Scenarios
      summary: "Delete a scenario from the database"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: A message regarding the status of the deletion.
                properties:
                  message:
                    type: string
                    description: The delete request was successful.
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error
  /scenario:
    post:
      tags:
        - Scenarios
      summary: Create a new scenario object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scenario:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the scenario
                      workspace:
                        type: string
                        description: The XML structure containing the code to be run in the scenario
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  scenario:
                    type: object
                    $ref: '#/components/schemas/Scenario'
        400:
          $ref: '#/components/responses/PoorFormError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          description: Internal server error

externalDocs:
  description: Mcity website
  url: https://mcity.umich.edu
components:
  responses:
    UnauthorizedError:
      description: 'Authorization Error - API key is missing or invalid'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError'
    PoorFormError:
      description: 'Request to this endpoint was not appropriately formed.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError'
    NotFoundError:
      description: 'Requested ID does not exist.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError'
    NotAllowedError:
      description: 'Request was denied because resource does not support this action, or the action results in an invalid state.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError'
    TeapotError:
      description: Request to create/modify Teapot, but I am already a teapot.
      content:
        "*/*":
          schema:
            $ref: '#/components/schemas/APIError'
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Tokens that expire sent to users to utilize the API
      in: header
      name: X-API-KEY
  schemas:
    Stage:
      type: object
      description: Describes a suggested control grouping for an intersection. Stages are
        lights that work together to make non-conflicting sets of phases.
      properties:
        name:
          type: string
          description: A text description of the phases controlled by this stage.
        controlGroup:
          type: string
          description: A bit string that can be used to hold/omit/force off or utilize other control functions for non-conflicting portions of an
            intersection or signal.
          example: "00100001"
    Phase:
      type: object
      description: Describes a set of one or more signal heads that are wired together, all
        heads will show the same indication
      properties:
        number:
          type: integer
          description: The phase number as configured on the traffic controller
        bound:
          type: string
          description: The direction of traffic this phase controls. A signal with this
            phase would face the opposite direction.
          enum:
            - north
            - south
            - east
            - west
        turn:
          type: string
          description: Direction of movement this signal is setup to control
          enum:
            - left
            - right
            - through
    Signal:
      type: object
      description: Describes a collection of signal heads facing a specific direction/mount
        type. Their state is also known as a PHASE in traffic control systems.
      required:
        - id
      properties:
        id:
          type: string
          description: An ID number identifying this signal set
        uri:
          type: string
          description: The URI which can be used to access this signal set directly
[...]
